@import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap");
@import "tailwindcss";

* {
  font-family: "Libertinus Serif Display", system-ui;
  font-weight: 600;
}

@theme {
  --color-primary: #5044e5;
}

@layer utilities {
  .dark\:bg-primary {
    &:where(.dark, .dark *) {
      background-color: var(--color-primary);
    }
  }
}
